# Created by https://www.toptal.com/developers/gitignore/api/*.out
# Edit at https://www.toptal.com/developers/gitignore?templates=*.out

#!! ERROR: *.out is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/*.out
